body {
    background: #DEFCF9;
    color: #333;
}

.click {

    color: #333;
}

.text-one {
    margin: 20px 580px;
    font-size: 40px;
}

.table {
    margin: 120px 520px;
    text-align: center;
}
